:root {
    --color-background: #F0F0F7;
    --color-main: #BD0104;

    font-size: 62.5%;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

body,
input,
button,
textarea {
    font: 400 1.6rem Roboto;
}

button {
    cursor: pointer;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.input-block label {
    font-size: 1.4rem;
}

.input-block input, .input-block textarea, .input-block select {
    width: 100%;
    font-size: 1.6rem;
    height: 4rem;
    margin: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b0aec7;
}

.input-block textarea {
    display: block;
    min-height: 10rem;
    resize: vertical;
    
}

.input-block + .input-block {
    margin-top: 1rem
}

@media (min-width: 850px){
    .container {
        width: 100%;
    }
}