#signup-page .signup-form {
    margin-top: 2rem;
    justify-content: initial;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
}

#signup-page .back-icon {
    width: 2rem;
    height: auto;
}

#signup-page .header-icons span {
    margin-left: 0.8rem;
}

#signup-page .header-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #555;
}
#signup-page .header-icons {
    margin-bottom: 2rem;
}

#signup-page hr.solid {
    border-top: 2px solid #bbb;
}

#signup-page form {
    margin-bottom: 2rem;
}

#signup-page h1 {
    font-size: 2.4rem;
}

#signup-page h2 {
    font-size: 1.4rem;
}

#signup-page form {
    margin-top: 2rem;
}

#signup-page button {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid #fcfcfc;
    height: 4rem;
    background-color: #008000;
    color: #fff;
    border-radius: 0.5rem;
}
