#signup-page .signup-form {
    margin-top: 2rem;
    justify-content: initial;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
}

#signup-page .back-icon{
    width: 2rem;
    height: auto;
}
#signup-page .header-icons span {
    margin-left: 0.8rem;
}
#signup-page .header-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #555;
}
#signup-page .header-icons {
    margin-bottom: 2rem;
}

#signup-page hr.solid {
    border-top: 2px solid #bbb;
}
#signup-page .cadastrar {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#signup-page form {
    margin-bottom: 2rem;
}

#signup-page h3 {
    font-size: 1.4rem;
}

#signup-page form {
    margin-top: 2rem;
}

#signup-page fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
}

#signup-page .cadastrar {
    text-decoration: none;
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
    text-align: right;
}

#signup-page button {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid #fcfcfc;
    height: 4rem;
    background-color: green;
    color: #fff;
    border-radius: 0.5rem;
}


.input-block input {
    width: 100%;
    font-size: 1.6rem;
    height: 4rem;
    margin: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b0aec7;
}

.input-block + .input-block {
    margin-top: 1rem
}

.input-block label {
    font-size: 1.4rem;
}

@media(min-width: 700px){
    .landing-content {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}