#user-page .user-profile {
    background-color: white;
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    border-radius: 0.5rem;
}

#user-page .back-icon, #user-page .edit-icon {
    width: 3rem;
    height: auto;
}

#user-page .header-icons {
    display: flex;
    justify-content: space-between;
}


#user-page .user-status {
    font-size: 1.4rem;
    
}

#user-page .user-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.4rem
}

#user-page .user-header div {
    margin-top: 2rem;
}

#user-page .user-avatar {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

#user-page .user-header h1 {
    font-size: 2.2rem;
}

#user-page .user-header p, #user-page .user-header h1 {
    display: block;
    text-align: center;
}

#user-page .info-group {
    line-height: 2.4rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

#user-page .user-info {
    font: 700 1.6rem 'Roboto';
}