.app-header {
    background-color: var(--color-main);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    margin: 1rem;
    color: white;
}