#home-page {
    height: 100vh;
}

#home-page .content h1 {
    margin: 2rem 0;
}
.user-list {
    display: flex;
    flex-direction: column;
}

@media(min-width: 700px){
    .home-content {
        flex-direction: row;
    }
}