.footer {
    width: 100%;
    flex: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
     background-color: #171717;
    padding: 1rem;
    margin-top: 2rem;
    color: #fff;
}

.footer .left {
    text-align: left;
}

.footer .right {
    text-align: right;
}

.footer a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}